@use "../Utiles/variables";

/* Base de texto del body */
body {
  background-color: variables.$blanco;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: variables.$gris-texto;

  /* Párrafos */
  p {
    margin-bottom: 1rem;
  }

  /* Enlaces */
  a {
    font-weight: 500;
  }

  /* Texto pequeño */
  small {
    font-size: 0.875rem;
  }
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
