/* Colores principales */
$violeta: #7b3ec8;
$violeta-oscuro: #5a2da0;
$gris-texto: #333333;
$gris-claro: #dddddd;
$blanco: #ffffff;
$violeta-claro: rgba(226, 206, 246, 0.568);
$negro-oscuro: rgba(0, 0, 0, 0.15);
